body {
  padding: 0;
  margin: 0;
  background: cornsilk;
}

/* Sidebar */
#sidebar-wrapper{
	padding-top: 15px;
	z-index: 1;
	position: absolute;
	width: 150px;
	height: 100%;
	overflow-y: hidden;
	background: MidnightBlue;
	opacity: .9;
}

/*Rest of the page*/
#page-wrapper{
	width: 100%;
	height: 100%;
	position: absolute;
	padding: 15px;
	padding-left: 150px;
	background: cornsilk;
}

#wrapper.menuDisplayed #sidebar-wrapper{
	width: 0px;
}


#wrapper.menuDisplayed #page-wrapper{
	padding-left: 15px;
}

/* sidebar styling*/
.sidebar-nav{
	padding: 0;
	list-style: none;
}

.sidebar-nav li{
	text-indent: 5px;
	line-height: 40px;
}


/*other styling*/
.side-icon{
	color: cornsilk;
}
.side-icon:hover{
	color: DarkOrange;
}

.side-text{
	font: ComicSans;
	padding-left: 10px;
	color:cornsilk;
}

.side-text:hover{
	color: DarkOrange;
}

.my-toggle{
	color:cornsilk;
}

.my-toggle:hover{
	color:MidnightBlue;
}

.toggle-btn{
	background-color:MidnightBlue;
}
.toggle-btn:hover{
	background-color:cornsilk;
}

.back-up{
	color:MidnightBlue;
	font-size:30px;
}
.back-up:hover{
	color:DarkOrange;
}

.card.my-card{

	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.card-titles{
	text-align: center
}
.card-description{
	text-align: left;
}

.my-pawn{
	padding-top: 20px;
	font-size: 50px;
	color: LightGreen;
}

.my-queen{
	padding-top: 20px;
	font-size: 50px;
	color: Orange;
}

.my-king{
	padding-top: 20px;
	font-size: 50px;
	color: Red;
}

.second-row{
	padding-bottom: 30px;
}