body {
  background: url('') no-repeat center center fixed; 
  /*can add background image here*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

/*--- navigation bar ---*/
.navbar {
  background: Navy;
}
.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  color: #000;
}
.navbar-collapse {
  justify-content: flex-end;
}


.dot {
  /*opacity:.5;*/
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.dot.dot-1{
	height: 500px;
  	width: 500px;	
	background-color:DarkOrange;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	justify-content: center;
}

.dot.dot-2{
	height: 250px;
	width: 250px;
	background: rgb(255,248,220);
background: radial-gradient(circle, rgba(255,248,220,1) 0%, rgba(25,25,112,1) 79%);
	margin-left:-150px;
	margin-top:90px;
}

.glyphicon.glyphicon-chevron-down.my-gcr{
	color: DarkOrange;
	font-size: 100px;
}

.glyphicon.glyphicon-chevron-down.my-gcr:hover{
	color:MidnightBlue;
}