<!DOCTYPE html>
{% load static %}
<html>
<head>
	<!-- link to bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- link to css file -->
    <link rel = "stylesheet" type = "text/css" href = "{% static 'main/main_style.css'%}">

    <!-- link to bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- link to boostrap JavaScipt -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- link to css file -->
    <link rel = "stylesheet" type = "text/css" href = "{% static 'main/main_style.css'%}">

    <!-- link to og css file -->
    <link rel = "stylesheet" type = "text/css" href = "{% static 'navBar/calendar_style.css'%}">

    <!-- link to bootstrap cdn css & js -->
    <!-- <link rel="stylesheet" href = "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  		<a class="navbar-brand" href="#"><img class = "nav-logo" src = "static/main/bw-horiz-text.png"></a>
  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  		</button>

  	<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    	<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      		<li class="nav-item">
        		<a class="nav-link" onclick="window.location.href = '/';">Home</a>
      		</li>
      		<li class="nav-item active">
       			<a class="nav-link" href="/hackathon">Hackathon<span class="sr-only">(current)</span></a>
      		</li>
      		<li class="nav-item">
        		<a class="nav-link " href="/calendar">Calendar</a>
      		</li>
          <li class="nav-item">
            <a class="nav-link " href="/meetTheTeam">Meet the Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/join">Join now</a>
          </li>
    	</ul>
  	</div>
  </nav>
	<!-- second row -->
	<h1 class="title text-center the-month"> AUGUST 2020 </h1>
	<div class="calendar" data-toggle="calendar">

		<!-- calendar row 1 -->
		<div class="row">
			<div class="col-xs-12 calendar-day">
				<time datetime="2020-08-02">02</time>
			</div>
			<div class="col-xs-12 calendar-day">
				<time datetime="2020-08-03">03</time>
			</div>
			<div class="col-xs-12 calendar-day">
				<time datetime="2020-08-04">04</time>
			</div>
			<div class="col-xs-12 calendar-day">
				<time datetime="2020-08-05">05</time>
			</div>
			<div class="col-xs-12 calendar-day">
				<time datetime="2020-08-06">06</time>
			</div>
			<div class="col-xs-12 calendar-day">
				<time datetime="2020-08-07">07</time>
			</div>
			<div class="col-xs-12 calendar-day">
				<time datetime="2020-08-08">08</time>
			</div>
		</div>


		<!-- calendar row 2 -->
		<div class="row">
			<div class="col-xs-12 calendar-day">
				<time datetime="2020-08-09">09</time>
			</div>
			<div class="col-xs-12 calendar-day">
				<time datetime="2020-08-10">10</time>
			</div>
			<div class="col-xs-12 calendar-day">
				<time datetime="2020-08-11">11</time>
			</div>
			<div class="col-xs-12 calendar-day">
				<time datetime="2020-08-12">12</time>
			</div>
			<div class="col-xs-12 calendar-day">
				<time datetime="2020-08-13">13</time>
			</div>
			<div class="col-xs-12 calendar-day">
				<time datetime="2020-08-14">14</time>
			</div>
			<div class="col-xs-12 calendar-day">
				<time datetime="2020-08-15">15</time>
				<div class = "events">
					<div class = "event">
						<h4> 4pm something amazing is happening </h4>
					</div>
					<div class = "event">
						<h4> 10pm something amazing is happening </h4>
					</div>
				</div>
			</div>
		</div>


		<!-- calendar row 3 -->
		<div class="row">
			<div class="col-xs-12 calendar-day">
				<time datetime="2020-08-16">16</time>
			</div>
			<div class="col-xs-12 calendar-day">
				<time datetime="2020-08-17">17</time>
			</div>
			<div class="col-xs-12 calendar-day">
				<time datetime="2020-08-18">18</time>
			</div>
			<div class="col-xs-12 calendar-day">
				<time datetime="2020-08-19">19</time>
			</div>
			<div class="col-xs-12 calendar-day">
				<time datetime="2020-08-20">20</time>
			</div>
			<div class="col-xs-12 calendar-day">
				<time datetime="2020-08-21">21</time>
			</div>
			<div class="col-xs-12 calendar-day">
				<time datetime="2020-08-22">22</time>
			</div>
		</div>


		<!-- calendar row 4 -->
		<div class="row">
			<div class="col-xs-12 calendar-day">
				<time datetime="2020-08-23">23</time>
			</div>
			<div class="col-xs-12 calendar-day">
				<time datetime="2020-08-24">24</time>
			</div>
			<div class="col-xs-12 calendar-day">
				<time datetime="2020-08-25">25</time>
				<div class = "events">
					<div class = "event">
						<h4> First day of school </h4>
					</div>
				</div>
			</div>
			<div class="col-xs-12 calendar-day">
				<time datetime="2020-08-26">26</time>
			</div>
			<div class="col-xs-12 calendar-day">
				<time datetime="2020-08-27">27</time>
			</div>
			<div class="col-xs-12 calendar-day">
				<time datetime="2020-08-28">28</time>
			</div>
			<div class="col-xs-12 calendar-day">
				<time datetime="2020-08-29">29</time>
			</div>
		</div>



		<!-- calendar row 5 -->
		<div class="row">
			<div class="col-xs-12 calendar-day">
				<time datetime="2020-08-30">30</time>
			</div>
			<div class="col-xs-12 calendar-day">
				<time datetime="2020-08-31">31</time>
			</div>
			<div class="col-xs-12 calendar-day calendar-no-current-month">
				<time datetime="2020-09-01">01</time>
			</div>
			<div class="col-xs-12 calendar-day calendar-no-current-month">
				<time datetime="2020-09-02">02</time>
			</div>
			<div class="col-xs-12 calendar-day calendar-no-current-month">
				<time datetime="2020-09-03">03</time>
			</div>
			<div class="col-xs-12 calendar-day calendar-no-current-month">
				<time datetime="2020-09-04">04</time>
			</div>
			<div class="col-xs-12 calendar-day calendar-no-current-month">
				<time datetime="2020-09-05">05</time>
			</div>
		</div>
	
</body>
</html>