<!DOCTYPE html>
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">


    <!-- link to og css file -->
    <link rel = "stylesheet" type = "text/css" href = "{% static 'navBar/hackathon_style.css'%}">

    <!-- Roboto font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto Mono' rel='stylesheet'>

    <link rel="icon" href="{% static 'base/icons/favicon.ico' %}">
    <link rel="stylesheet" href="/static/main/custom.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    
    <title>Girls Hoo Hack</title>
  </head>
  <body>
    <header>
      <!-- nav bar -->
      <!-- TODO - add flags if time -->
      <nav class="navbar sticky-top navbar-dark my-nav navbar-expand-md">
        <!-- TODO - make logo little bigger and fix placement -->
        <a class="navbar-brand" href="#"><img class = "nav-logo" src = "static/navBar/nav-logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse my-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto navbar-left">
            <!-- justify-content-center class potentially -->
            <!-- TODO -make collapse more appealing, make btn white like figma-->
            <!-- TODO - make items float left not center -->
            <li class="nav-item">
              <a class="nav-link my-item text-white pl-4" href="#my-about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link my-item text-white pl-4" href="#my-jumpstart">JumpStart</a>
            </li>
            <li class="nav-item">
              <a class="nav-link my-item text-white pl-4" href="#my-schedule">Schedule</a>
            </li>
            <li class="nav-item">
              <a class="nav-link my-item text-white pl-4" href="#my-prizes">Prizes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link my-item text-white pl-4" href="#my-FAQ">FAQ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link my-item text-white pl-4" href="#my-sponsors">Sponsors</a>
            </li>
            <li>
              <a id="mlh-trust-badge" style="display:block;max-width:100px;min-width:60px;position:fixed;right:50px;top:0;width:10%;z-index:10000" href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf" target="_blank"><img src="https://s3.amazonaws.com/logged-assets/trust-badge/2021/mlh-trust-badge-2021-black.svg" alt="Major League Hacking 2021 Hackathon Season" style="width:70%"></a>
            </li>
          </ul>
        </div>
      </nav>

      
      <div class="container-fluid my-main pt-5 laptop" style = "background-image: url('static/navBar/orangeWave.png'); background-repeat: no-repeat; background-size: cover;">
        <div class="row">
          <div class="col-md-8">
            <div class="row pl-5">
              <div class="pl-5">
                <h1 class="col-md-8 title pl-5">
                  GIRLS
                </h1>
              </div>
            </div>

            <div class="row pl-5" style="margin-top: -45px !important">
              <div class="col-md-7">
                <div class="row">
                  <div class="col-md-6 ">
                    <h1 class="title">
                      HOO
                    </h1>
                  </div>
                  <div class="col-md-6 pl-5">
                    <h3 class="v-hack pt-5 pl-5">
                      2020 VIRTUAL HACKATHON
                    </h3>
                  </div>
                </div>
              </div>
            </div>

            <div class="row pl-5" style="margin-top: -45px !important">
              <div class="pl-5">
                <div class="pl-5">
                  <h1 class="title pl-5">
                    HACK
                  </h1>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="row">
              <h3 class="uva">The University<br>of Virginia</h3>
            </div>
            <div class="row" >
              <h2 class="date">October<br>17-18</h2>
            </div>
            <div class="row circle" style="margin-left: -20%;">
              <a href="https://girlshoohack2020.hackerearth.com/"><img href="https://girlshoohack2020.hackerearth.com/" class="sign-circle inside-circle" src="static/navBar/Full-sign-up-button.png">
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class = "container-fluid my-main mobile" style = "background-image: url('static/navBar/orangeWave.png'); background-repeat: no-repeat; background-size: cover;">
        <!-- row 1 -->
        <div class = "row empty-row">
        </div>

        <!-- row 2 -->
        <div class = "row">
          <div class = "col-12 col-sm-4">
            <div class = "title girls">
              GIRLS
            </div>
          </div>
          <div class = "col-1 col-sm-1">
          </div>
          <div class = "col-12 col-sm-7">
            <div class = "uva">
              The University<br class="mobile-break"> of Virginia
            </div>
            <div class = "date">
              October <br class="mobile-break"> 17-18
            </div>
          </div>
        </div>

        <!-- row 3 -->
        <div class = "row my-row-3">
          <div class = "col-12 col-sm-4">
            <div class = "title hoo">
              HOO
            </div>
          </div>
          <div class = "col-11 col-sm-7">
            <div class = "v-hack">
              2020 VIRTUAL<br class="mobile-break"> HACKATHON
            </div>
          </div>
          <div class = "col-1 col-sm-1">
          </div>
        </div>

        <!-- row 4 -->
        <div class = "row">
          <div class = "col-6">
            <div class = "title hack">
              HACK
            </div>
          </div>
          <div class = "col-6">
            
            <button type="button" class="btn orange-btn" 
            style = "background-size: min(334px, 40vw); 
            background-image: url(static/navBar/Full-sign-up-button.png); background-repeat: no-repeat;" 
            onclick="window.location.href = 'https://girlshoohack2020.hackerearth.com/';">
           </button>
           
           <!-- <a href="https://girlshoohack2020.hackerearth.com/"> -->
            <!-- <img src = "static/navBar/Full-sign-up-button.png"></a>  -->
          </div>
        </div>

        <!-- row 5 -->
        <div class = "row empty-row">
        </div>
        <!-- row 6 -->
        <div class = "row empty-row">
        </div>


      </div>

      <div class = "container-fluid my-about" id = "my-about">
        <div class = "row">
          <div class = "col-12 left-col">
            <div class = "title-header">
              About
            </div>
          </div>
        </div>
        <div class = "row">
          <div class = "col-12 col-sm-4">
            <div class = "title-subheader">
              Girls Hoo Hack
            </div>
            <div class = "title-body pb-5">
              Girls Hoo Hack is a virtual 48-hour hackathon hosted by Girls Who Code at UVA that aims to foster a community of diverse thought and skill.<br><br> Coders of all levels of experience have the opportunity to work together with teams and mentors, attend educational workshops, and code action-oriented projects that reflect innovation, diverse perspectives, and empowerment.
            </div>
          </div>
          <div class = "col-12 col-sm-4">
            <div class = "title-subheader">
              GWC @ UVA
            </div>
            <div class = "title-body">
              Girls Who Code at the University of Virginia (UVA) is a College Loop of the nationwide Girls Who Code nonprofit organization. GWC at UVA aims to close the gender gap in technology by creating opportunities for young women to explore technology.
            </div>
          </div>
          <div class = "col col-sm-4">
          </div>
        </div>
        </div>
      </div>

      <div class = "container-fluid my-jumpstart" id = "my-jumpstart">
        <div class = "row">
          <div class = "col-md-8 col-sm-12 left-col">
            <div class = "title-header">
              Jumpstart
            </div>
            <div class = "title-subheader">
              What is it?
            </div>
            <div class = "title-body">
              The Girls Who Code at UVA's JumpStart program is a series of introductory workshops exclusive to Girls Who Code at UVA members. The goal of this program is to help guide first-time hackathon participants with developing their first projects. Workshops will be led by Girls Who Code at UVA's executive team and members and will be geared towards learning hackathon fundamentals and how to get started on a project! <br><br><a href = "https://forms.gle/nCpYhA66xh2gGfBS6">Sign up to join GWC @ UVA Jumpstart!</a>
            </div>
          </div>
        </div>
        <div class="row mt-4 mb-2">
          <div class="col-md-12">
            <div class = "title-subheader">
              Workshops
            </div>
          </div>
          <div class = "row pl-3">
            <div class = "col-12 col-md-4">
              <h3 class="title-black-bold mb-0 pb-0">
                What Is a Hackathon?
              </h3>
              <h4 class="title-black-bold-sub">
                Monday, Oct 12
              </h4>
              <p class="title-small-coming-soon">Hackathons can seem intimidating to beginners, but we’re here to debunk hackathon myths and stereotypes. We’ll go over what a hackathon is, what Girls Hoo Hack 2020 will look like, answer your questions, and help you get started on your first hackathon!</p>
            </div>
            <div class = "col-12 col-md-4">
              <h3 class="title-black-bold mb-0 pb-0">
                Starting Your First Project
              </h3>
              <h4 class="title-black-bold-sub">
                Tuesday, Oct 13
              </h4>
              <p class="title-small-coming-soon">The possibilities are endless when brainstorming project ideas! We’re here to help you bounce around project ideas and guide you through the brainstorming process.</p>
            </div>
            <div class = "col-12 col-md-4">
              <h3 class="title-black-bold mb-0 pb-0">
                Getting Started with GitHub
              </h3>
              <h4 class="title-black-bold-sub">
                Wednesday, Oct 14
              </h4>
              <p class="title-small-coming-soon">Using GitHub makes collaboration with team members easier! Learn how to create an account, become familiar with the GitHub platform, and use a best practice collaboration workflow locally and globally. </p>
            </div>
          </div>
          <div class = "row pl-3">
            <!-- TODO - ADD WORKSHOPS -->
            <!-- TODO - formatting of workshop on laptop size -->
            <div class = "col-md-4 col-sm-12">
              <h3 class="title-black-bold mb-0 pb-0">Finding Your Team</h3>
              <h4 class="title-black-bold-sub">
                Thursday, Oct 15
              </h4>
              <p class="title-small-coming-soon">Working with other team members is a great way to generate new ideas, find different perspectives, empower each other, and foster diversity of thought. We’ll use this workshop session to help build teams in preparation for Girls Hoo Hack and give some tips on how to be successful as a team!</p>
            </div>
            <div class = "col-md-4 col-sm-12">
              <h3 class="title-black-bold mb-0 pb-0">
                Google Cloud Hero
              </h3>
              <h4 class="title-black-bold-sub">
                Friday, Oct 16
              </h4>
              <p class="title-small-coming-soon">Google Cloud Hero is a great opportunity to learn the fundamental tools and capabilities of Google Cloud, share an engaging experience, and experience virtual training with a little competition thrown in for fun. Meet with Google representatives and learn how to use Google Cloud in a fun and interactive way!</p>
            </div>
          </div>
      </div>
    </div>


      <div class = "container-fluid my-schedule" id = "my-schedule">
        <div class = "row">
          <div class = "col">
            <div class = "title-header" style = "margin-top: 9%">
              Schedule
            </div>
          </div>
        </div>
        <div class = "row">
          <div class = "col-12">
            <div class = "title-subheader">
              Saturday, Oct 17
            </div>
          </div>
          <div class = "col-12">
            <div class = "btn btn-light my-schedule-btn" type = "button" data-toggle = "collapse" aria-expanded="false" aria-controls = "schedule-collapse-17" data-target="#schedule-collapse-17">
            <b class = "plus">+</b>
            </div>
          </div>
        </div>
        <div class = "collapse" id = "schedule-collapse-17">
        <div class = "row schedule-row">
          <div class = "col-4 col-md-2">
            <div class = "title-schedule-time">
              9&nbsp  am
            </div>
          </div>
          <div class = "col-8">
            <div class = "title-schedule-bold">
              Opening Ceremony<br>
            </div>
            <div class = "title-body">
              <a class = "zoom-text" href = "https://virginia.zoom.us/j/96885715106?pwd=ZVIzTkVRVStwd1RsZ0p4emtKRk1WUT09">Join Zoom Now&nbsp <span class="glyphicon glyphicon-share-alt"></span> </a>
            </div>
          </div>
        </div>
        <div class = "row schedule-row">
          <div class = "col-4 col-md-2">
            <div class = "title-schedule-time">
              10 am
            </div>
          </div>
          <div class = "col-8">
            <div class = "title-schedule-bold">
              Begin Hacking
            </div>
          </div>
        </div>
        <div class = "row  schedule-row">
          <div class = "col-4 col-md-2">
            <div class = "title-schedule-time">
              11 am
            </div>
          </div>
          <div class = "col-8">
            <div class = "title-schedule-bold">
              Acing Technical Interviews with WillowTree<br>
            </div>
            <div class = "title-body">
              <a class = "zoom-text" href = "https://willowtreeapps.zoom.us/j/92296001792?pwd=bTkyRklNVmhEaTlyNlNwMnZpcW9xUT09">Join Zoom Now&nbsp <span class="glyphicon glyphicon-share-alt"></span> </a>
            </div>
          </div>
        </div>
        <div class = "row schedule-row">
          <div class = "col-4 col-md-2">
            <div class = "title-schedule-time">
              12 pm
            </div>
          </div>
          <div class = "col-8">
            <div class = "title-schedule-bold">
              Social Activity<br>
            </div>
            <div class = "title-body">
              <a class = "zoom-text" href = "https://virginia.zoom.us/j/96885715106?pwd=ZVIzTkVRVStwd1RsZ0p4emtKRk1WUT09">Join Zoom Now&nbsp <span class="glyphicon glyphicon-share-alt"></span> </a>
            </div>
          </div>
        </div>
        <div class = "row schedule-row">
          <div class = "col-4 col-md-2">
            <div class = "title-schedule-time">
              1&nbsp pm
            </div>
          </div>
          <div class = "col-8">
            <div class = "title-schedule-bold">
              What’s all the fuss about Data Science?<br>
            </div>
            <!-- <div class = "title-body">
              <a class = "zoom-text" href = "https://willowtreeapps.zoom.us/j/92296001792?pwd=bTkyRklNVmhEaTlyNlNwMnZpcW9xUT09">Join Zoom Now&nbsp <span class="glyphicon glyphicon-share-alt"></span> </a>
            </div> -->
          </div>
        </div>
        <div class = "row schedule-row">
          <div class = "col-4 col-md-2">
            <div class = "title-schedule-time">
              1&nbsp pm
            </div>
          </div>
          <div class = "col-8">
            <div class = "title-schedule-bold">
              Career Panel with Maxar<br>
            </div>
            <div class = "title-body">
              <a class = "zoom-text" href = "https://maxar.zoom.us/j/87647385055?pwd=SnZwb0Qxb1FUaWI1eW9DOG96QVhxUT09">Join Zoom Now&nbsp <span class="glyphicon glyphicon-share-alt"></span> </a>
            </div>
          </div>
        </div>
        <div class = "row schedule-row">
          <div class = "col-4 col-md-2">
            <div class = "title-schedule-time">
              2&nbsp pm
            </div>
          </div>
          <div class = "col-8">
            <div class = "title-schedule-bold">
              Introduction to Satellites with Maxar<br>
            </div>
            <div class = "title-body">
              <a class = "zoom-text" href = "https://maxar.zoom.us/j/88520487569?pwd=ejB2UDNFL25QbHhQSHZUTWRqdThEdz09">Join Zoom Now&nbsp <span class="glyphicon glyphicon-share-alt"></span> </a>
            </div>
          </div>
        </div>
        <div class = "row schedule-row">
          <div class = "col-4 col-md-2">
            <div class = "title-schedule-time">
              2&nbsp pm
            </div>
          </div>
          <div class = "col-8">
            <div class = "title-schedule-bold">
              Google Cloud Hero<br>
            </div>
            <div class = "title-body">
              <a class = "zoom-text" href = "https://www.youtube.com/watch?v=nCuSesYPIdg">Join YouTube Live Now&nbsp <span class="glyphicon glyphicon-share-alt"></span> </a>
            </div>
          </div>
        </div>
        <div class = "row schedule-row">
          <div class = "col-4 col-md-2">
            <div class = "title-schedule-time">
              3&nbsp pm
            </div>
          </div>
          <div class = "col-8">
            <div class = "title-schedule-bold">
              Introduction to DevOps/DevSecOps with Maxar<br>
            </div>
            <div class = "title-body">
              <a class = "zoom-text" href = "https://maxar.zoom.us/j/85757971837?pwd=ZGRzbmF2d1gxc2pWQzQ2MmdESDMrZz09">Join Zoom Now&nbsp <span class="glyphicon glyphicon-share-alt"></span> </a>
            </div>
          </div>
        </div>
        <div class = "row schedule-row">
          <div class = "col-4 col-md-2">
            <div class = "title-schedule-time">
              3&nbsp pm
            </div>
          </div>
          <div class = "col-8">
            <div class = "title-schedule-bold">
              Free and Open Source Software Overview with Maxar<br>
            </div>
            <div class = "title-body">
             <a class = "zoom-text" href = "https://maxar.zoom.us/j/94639083017?pwd=YjRtdGFOWmhoN2dLVVdSR3dweXR1dz09">Join Zoom Now&nbsp <span class="glyphicon glyphicon-share-alt"></span> </a>
            </div>
          </div>
        </div>
        <div class = "row schedule-row">
          <div class = "col-4 col-md-2">
            <div class = "title-schedule-time">
              4&nbsp pm
            </div>
          </div>
          <div class = "col-8">
            <div class = "title-schedule-bold">
              Data Science Overview with Maxar<br>
            </div>
            <div class = "title-body">
              <a class = "zoom-text" href = "https://maxar.zoom.us/j/84049542278?pwd=Y1ZHRVcvcmpKTlNUS1FINmZTSUZMdz09">Join Zoom Now&nbsp <span class="glyphicon glyphicon-share-alt"></span> </a>
            </div>
          </div>
        </div>
        <div class = "row schedule-row">
          <div class = "col-4 col-md-2">
            <div class = "title-schedule-time">
              4&nbsp pm
            </div>
          </div>
          <div class = "col-8">
            <div class = "title-schedule-bold">
              Front-End Development Overview<br>
            </div>
            <div class = "title-body">
              <a class = "zoom-text" href = "https://maxar.zoom.us/j/84551600470?pwd=TVlPMlRhRjNEZjV2TzFGMVk0S25VUT09">Join Zoom Now&nbsp <span class="glyphicon glyphicon-share-alt"></span> </a>
            </div>
          </div>
        </div>
        <div class = "row schedule-row">
          <div class = "col-4 col-md-2">
            <div class = "title-schedule-time">
              5&nbsp pm
            </div>
          </div>
          <div class = "col-8">
            <div class = "title-schedule-bold">
              Microsoft Azure Chat Bot with GWCUVA<br>
            </div>
            <div class = "title-body">
              <a class = "zoom-text" href = "https://teams.microsoft.com/l/meetup-join/19%3ameeting_MzI2ODRiMDAtZDExNS00ZDZmLTgwYmQtZGYwMDU2YzRjZDcw%40thread.v2/0?context=%7b%22Tid%22%3a%2284c31ca0-ac3b-4eae-ad11-519d80233e6f%22%2c%22Oid%22%3a%2201a09c24-128b-4ff1-8a5c-4599134a5efd%22%7d">Join Teams Now&nbsp <span class="glyphicon glyphicon-share-alt"></span> </a>
            </div>
          </div>
        </div>
        <div class = "row schedule-row">
          <div class = "col-4 col-md-2">
            <div class = "title-schedule-time">
              7&nbsp pm
            </div>
          </div>
          <div class = "col-8">
            <div class = "title-schedule-bold">
              Bob Ross Microsoft Painting with MLH<br>
            </div>
            <div class = "title-body">
              <a class = "zoom-text" href = "https://virginia.zoom.us/j/96885715106?pwd=ZVIzTkVRVStwd1RsZ0p4emtKRk1WUT09">Join Zoom Now&nbsp <span class="glyphicon glyphicon-share-alt"></span> </a>
            </div>
          </div>
        </div>
        </div>

        <div class = "row">
          <div class = "col">
            <div class = "title-subheader">
              Sunday, Oct 18
            </div>
          </div>
          <div class = "col-12">
            <div class = "btn btn-light my-schedule-btn" data-toggle = "collapse" aria-expanded="false" aria-controls="schedule-collapse-18" data-target="#schedule-collapse-18">
            <b class = "plus">+</b>
            </div>
          </div>
        </div>
        <div class = "collapse" id = "schedule-collapse-18">
        <div class = "row  schedule-row">
          <div class = "col-4 col-md-2">
            <div class = "title-schedule-time">
              930 am
            </div>
          </div>
          <div class = "col-8">
            <div class = "title-schedule-bold">
               Morning Yoga<br>
            </div>
            <div class = "title-body">
              <a class = "zoom-text" href = "https://virginia.zoom.us/j/96885715106?pwd=ZVIzTkVRVStwd1RsZ0p4emtKRk1WUT09">Join Zoom Now&nbsp <span class="glyphicon glyphicon-share-alt"></span> </a>
            </div>
          </div>
        </div>
        <div class = "row schedule-row">
          <div class = "col-4 col-md-2">
            <div class = "title-schedule-time">
              10 am
            </div>
          </div>
          <div class = "col-8">
            <div class = "title-schedule-bold">
              Individual Sessions: Resume Review and Interview Tips with Maxar<br>
            </div>
            <div class = "title-body">
              <a class = "zoom-text" href = "https://maxar.zoom.us/j/83544638569?pwd=M3RDV3ByN3U3M3cwVTBBbmJrVGUxQT09">Join Zoom Now with Pat&nbsp <span class="glyphicon glyphicon-share-alt"></span> </a>
              <a class = "zoom-text" href = "https://maxar.zoom.us/j/85816984888?pwd=NlNKN3JHWmFiYmFiQ3cxVnY1dlczZz09">Join Zoom Now with Larissa&nbsp <span class="glyphicon glyphicon-share-alt"></span> </a>
            </div>
          </div>
        </div>
        <div class = "row schedule-row">
          <div class = "col-4 col-md-2">
            <div class = "title-schedule-time">
              12 pm
            </div>
          </div>
          <div class = "col-8">
            <div class = "title-schedule-bold">
              Introduction to Agile and Scrum with Maxar<br>
            </div>
            <div class = "title-body">
              <a class = "zoom-text" href = "https://maxar.zoom.us/j/86507524147?pwd=MXB5MHdiWjZBNGhKN01zcGNkYnlHQT09">Join Zoom Now&nbsp <span class="glyphicon glyphicon-share-alt"></span> </a>
            </div>
          </div>
        </div>
        <div class = "row schedule-row">
          <div class = "col-4 col-md-2">
            <div class = "title-schedule-time">
              12 pm
            </div>
          </div>
          <div class = "col-8">
            <div class = "title-schedule-bold">
              Firebase Tech Talk with Google Cloud<br>
            </div>
            <div class = "title-body">
              <a class = "zoom-text" href = "https://www.youtube.com/watch?v=nCuSesYPIdg">Join YouTube Live Now&nbsp <span class="glyphicon glyphicon-share-alt"></span> </a>
            </div>
          </div>
        </div>
        <div class = "row schedule-row">
          <div class = "col-4 col-md-2">
            <div class = "title-schedule-time">
              1&nbsp pm
            </div>
          </div>
          <div class = "col-8">
            <div class = "title-schedule-bold">
              Girls Hoo Hack 2020 Networking Event<br>
            </div>
            <div class = "title-body">
              Participating Sponsors: Google Cloud, Maxar, UVA School of Data Science, Willowtree
              <a class = "zoom-text" href = "https://virginia.zoom.us/j/96885715106?pwd=ZVIzTkVRVStwd1RsZ0p4emtKRk1WUT09">Join Zoom Now&nbsp <span class="glyphicon glyphicon-share-alt"></span> </a>
            </div>
          </div>
        </div>
        <div class = "row schedule-row">
          <div class = "col-4 col-md-2">
            <div class = "title-schedule-time">
              3&nbsp pm
            </div>
          </div>
          <div class = "col-8">
            <div class = "title-schedule-bold">
              Introduction to Artificial Intelligence and Machine Learning with Maxar<br>
            </div>
            <div class = "title-body">
              <a class = "zoom-text" href = "https://maxar.zoom.us/j/83269320896?pwd=QXpaWWtCNUtKL3V2NkZ0SWNBS2hQQT09">Join Zoom Now&nbsp <span class="glyphicon glyphicon-share-alt"></span> </a>
            </div>
          </div>
        </div>
        <div class = "row schedule-row">
          <div class = "col-4 col-md-2">
            <div class = "title-schedule-time">
              4&nbsp pm
            </div>
          </div>
          <div class = "col-8">
            <div class = "title-schedule-bold">
              Working Together on Common Humanitarian Goals with Maxar<br>
            </div>
            <div class = "title-body">
             <a class = "zoom-text" href = "https://maxar.zoom.us/j/82132769271?pwd=eFF1WlExaEQ0SlVldFdPaEtTVFJtZz09">Join Zoom Now&nbsp <span class="glyphicon glyphicon-share-alt"></span> </a>
            </div>
          </div>
        </div>
        <div class = "row schedule-row">
          <div class = "col-4 col-md-2">
            <div class = "title-schedule-time">
              4&nbsp pm
            </div>
          </div>
          <div class = "col-8">
            <div class = "title-schedule-bold">
             Building Effective Communication Skills with Chinmayi Balusu<br>
            </div>
            <div class = "title-body">
              <a class = "zoom-text" href = "https://us04web.zoom.us/j/74847801479?pwd=SUFDNzlZR0lQSGpYTjQ5MzhOU2o4UT09">Join Zoom Now&nbsp <span class="glyphicon glyphicon-share-alt"></span> </a>
            </div>
          </div>
        </div>
        <div class = "row schedule-row">
          <div class = "col-4 col-md-2">
            <div class = "title-schedule-time">
              530 pm
            </div>
          </div>
          <div class = "col-8">
            <div class = "title-schedule-bold">
              Capture the Flag (CTF) with MLH<br>
            </div>
            <div class = "title-body">
              <a class = "zoom-text" href = "https://virginia.zoom.us/j/96885715106?pwd=ZVIzTkVRVStwd1RsZ0p4emtKRk1WUT09">Join Zoom Now&nbsp <span class="glyphicon glyphicon-share-alt"></span> </a>
            </div>
          </div>
        </div>
        <div class = "row schedule-row">
          <div class = "col-4 col-md-2">
            <div class = "title-schedule-time">
              7&nbsp pm
            </div>
          </div>
          <div class = "col-8">
            <div class = "title-schedule-bold">
              Demos<br>
            </div>
            <div class = "title-body">
              <a class = "zoom-text" href = "https://girlshoohack2020.hackerearth.com/">&nbsp <span class="glyphicon glyphicon-share-alt"></span> </a>
            </div>
          </div>
        </div>
        <div class = "row schedule-row">
          <div class = "col-4 col-md-2">
            <div class = "title-schedule-time">
              830 pm
            </div>
          </div>
          <div class = "col-8">
            <div class = "title-schedule-bold">
              Judging<br>
            </div>
            <div class = "title-body">
              <a class = "zoom-text" href = "https://girlshoohack2020.hackerearth.com/">&nbsp <span class="glyphicon glyphicon-share-alt"></span> </a>
            </div>
          </div>
        </div>
        <div class = "row schedule-row">
          <div class = "col-4 col-md-2">
            <div class = "title-schedule-time">
              10 pm
            </div>
          </div>
          <div class = "col-8">
            <div class = "title-schedule-bold">
              Closing Ceremony<br>
            </div>
            <div class = "title-body">
              <a class = "zoom-text" href = "https://virginia.zoom.us/j/96885715106?pwd=ZVIzTkVRVStwd1RsZ0p4emtKRk1WUT09">Join Zoom Now&nbsp <span class="glyphicon glyphicon-share-alt"></span> </a>
            </div>
          </div>
        </div>
      </div>

      <div class = "empty-row">
        </div>
        </div>

      <div class = "container-fluid my-prizes" id = "my-prizes">
        <div class = "row">
          <div class = "col-12 left-col">
            <div class = "title-header">
              Prizes
            </div>
            <div class = "title-coming-soon">
              <div class = "row">
                <div class = "col-md-4 col-sm-12">
                  <h3 class="title-black-bold mb-0 pb-0">
                    Women Empowerment
                  </h3>
                  <p class="title-small-coming-soon">Join us in our mission to decrease gender disparity in the STEM workforce! Build a project that empowers women and emphasizes diversity. </br> 
                  <b class = "prize-text">Prize :</b> $150 per team, a year of Wolfram|One Personal Edition, and a one-year subscription to Wolfram|Alpha Pro, valued at $375.</p>
                </div>
                <div class = "col-md-4 col-sm-12">
                  <h3 class="title-black-bold mb-0 pb-0">
                    Best Overall
                  </h3>
                  <p class="title-small-coming-soon">This prize will be awarded to the project that exhibits creativity, innovation, and diversity of thought. Special consideration will be given to projects that promote women empowerment and the goals of Girls Hoo Hack and Girls Who Code at UVA. <br>
                  <b class = "prize-text"> Prize : </b>$150 per team, a year of Wolfram|One Personal Edition, and a one-year subscription to Wolfram|Alpha Pro, valued at $375</p>
                </div>
                <div class = "col-md-4 col-sm-12">
                  <h3 class="title-black-bold mb-0 pb-0">
                    Best Beginner
                  </h3>
                  <p class="title-small-coming-soon">This prize is reserved for the best project by beginner hackers. A team of beginner hackers is defined as a team with no prior experience at a hackathon. <br>
                  <b class = "prize-text">Prize :</b> $150 per team</p>
                </div>
              </div>
              <div class = "row">
                <!-- TODO - ADD WORKSHOPS -->
                <!-- TODO - formatting of workshop on laptop size -->
                <div class = "col-md-4 col-sm-12">
                  <h3 class="title-black-bold mb-0 pb-0">Education</h3>
                  <p class="title-small-coming-soon">This prize is reserved for a project that helps address obstacles in education today. Special consideration will be given to projects that provide solutions for obstacles to education related to COVID-19 and online learning. <br><b class = "prize-text">Prize :</b> $150 per team.</p>
                </div>
                <div class = "col-md-4 col-sm-12">
                  <h3 class="title-black-bold mb-0 pb-0">
                    Best Use of Google Cloud
                  </h3>
                  <p class="title-small-coming-soon">This prize is reserved for a project that best utilizes any Google Cloud product. 
                  <br><b class = "prize-text">First Place Prize :</b> Google Cloud-branded Patagonia backpack, water bottle, and trophy. 
                  <br><b class = "prize-text">Second Place Prize :</b> Google Nest Mini(s)
                  <br><i>Select projects may receive an invitation to apply to the Google Cloud COVID-19 hackathon fund awarding up to $5,000 in cloud credits and guidance from Google developers. </i>
                  </p>
                </div>
                <div class = "col-md-4 col-sm-12">
                  <h3 class="title-black-bold mb-0 pb-0">Best Domain Registered with Domain.com</h3>
                  <p class="title-small-coming-soon">Register a .tech, .space, or .online domain name using Domain.com during the weekend. Each team may submit one entry per person on the team. Each winning team member will receive a PowerSquare Qi wireless phone charger.<br>
                  <b class = "prize-text">Prize :</b> Power Square Qi wireless phone charger</p>
                </div>
                <div class = "col-md-4 col-sm-12">
                  <h3 class="title-black-bold mb-0 pb-0">Best Hardware Hack Sponsored by Digi-Key</h3>
                  <p class="title-small-coming-soon">Using your preferred hardware or hardware emulator, build a hack for your chance to win a Grove Beginner Kit, with Arduino Uno R3 included. 1 prize for each winning team member with 2 winning teams per event!<br>
                  <b class = "prize-text"> Prize :</b> Grove Beginner Kits</p>
                </div>
              </div>
            </div>
            </div>
            
          </div>
          
        </div>
      </div>

      <div class = "container-fluid my-FAQ" id = "my-FAQ">
        <div class = "row">
         <div class = "col left-col">
            <div class = "title-header">
              FAQ
            </div>
            <div class = "title-black-bold">
              What is a hackathon?
            </div>
            <div class = "title-body">
              A hackathon is best described as an “invention marathon”. Anyone who has an interest in technology attends a hackathon to learn, build & share their creations over the course of a weekend in a relaxed and welcoming atmosphere. You don’t have to be a programmer and you certainly don’t have to be majoring in Computer Science.
            </div>
            <div class = "title-black-bold">
              Who can participate?
            </div>
            <div class = "title-body">
              Girls Hoo Hack is open to all college-aged students or anyone who has graduated within the last 12 months. We welcome all women, non-binary individuals, and women supporters.
            </div>
            <div class = "title-black-bold">
              What if I don't know how to code?
            </div>
            <div class = "title-body">
              Not a problem! The entire Major League Hacking team knew very little when they attended their very first hackathon. It’s irrelevant what your prior experience is; it’s more about your interest in technology. Every MLH Member Event is passionate about making hackathons welcoming and beginner-friendly. If you want to learn how to code outside of a hackathon, you should check out the following: Treehouse, Codecademy and the Major League Hacking blog.
            </div>
            <div class = "title-black-bold">
              Are there any fees to participate?
            </div>
            <div class = "title-body">
              Girls Hoo Hack is free for all participants! Throughout the event, there will also be fun opportunities to get smaller prizes, swag, and more!
            </div>
            <div class = "title-black-bold">
              How many people can be on a team?
            </div>
            <div class = "title-body">
              A team can have 1-4 members.
            </div>
         </div>
         <div class = "col-md-4">
         </div>
        </div>
      </div>

      <div class = "container-fluid my-sponsors pb-4" id = "my-sponsors">
        <div class = "row">
          <div class = "col-12 left-col">
              <div class = "title-header">
                Sponsors
              </div>
            </div>
          </div>
                  <div class="row">
                    <a class="col-12 col-sm-6" href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf" target="_blank"  style = "text-align: center;"><img class="mlh-logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/37/Mlh-logo-color.svg/500px-Mlh-logo-color.svg.png">


                    <a class="col-4 col-sm-4" href="https://willowtreeapps.com/" target="_blank" style = "text-align: center;"><img class=" willow-logo" src="https://skilled.co/wp-content/uploads/2017/01/Willow-Tree-Apps.png"></a>
                    <a class="col-4 col-sm-2" href="https://www.stickermule.com/" target="_blank" style = "text-align: center;"><img class="mule-logo" src="static/navBar/mule-logo.png"></a>
                    <a class="col-4" href="https://www.appian.com/" target="_blank" style = "text-align: center;"><img class="appian-logo" src = "static/navBar/appian-logo.png"></a>

                    <a class="col-6 col-sm-4" href="https://www.wolframalpha.com/" target="_blank" style = "text-align: center;"><img class="wolfram-logo" src="https://www.wolframalpha.com/_next/static/images/Logo_1tof6SJC.svg"></a>
                    <a class="col-6 col-sm-4" href="https://hackerearth.com" target="_blank" style = "text-align: center;"><img class="hackerearth-logo" src="https://static-fastly.hackerearth.com/static/hackerearth/images/badge/HE_badge_on_light.png"></a>


                    <a class="col-12 col-sm-8" href="https://datascience.virginia.edu/" target="_blank" style = "text-align: center;"><img class="ds-logo" src = "static/navBar/ds-logo.png"></a>

                    <a class="col-4 col-sm-4" href="https://cloud.google.com/gcp/" target="_blank" style = "text-align: center;"> <img class="gc-logo" src="https://www.gstatic.com/devrel-devsite/prod/v85e39fe21f53c758adf6c791fb94a7a2182cff2705b3dc8ed7c59fc745471159/cloud/images/cloud-logo.svg"></a>
                    <a class="col-8 col-sm-12" href="https://www.maxar.com/" target="_blank" style = "text-align: center;"><img class="maxar-logo" src="https://www.maxar.com/assets/navbar/maxar-logo-navbar-b16b65d2d6b07ad4cd5fb17b016835a20a6a359158d832293402e231fca26e13.svg"></a>
                    </a>
                  </div>
               </div>
         

      <!-- TODO - make formatting responsive -->
      <!-- TODO - make sure image isn't blown up -->
      <!-- TODO - make whole footer shorter in height -->
      <div class = "container-fluid my-footer" style = "background-image: url('static/navBar/Footer/teal\ wave.png'), url('static/navBar/Footer/oragne\ wave.png'), url('static/navBar/Footer/Rectangle\ 9.png');
      background-size: cover;
      background-position:bottom, bottom, center;
      background-repeat: no-repeat, no-repeat, no-repeat;">
        <div class = "footer-logo" style = "position:relative;">
          <a class="navbar-brand"><img class = "footer-logo" src = "static/navBar/Footer/white logo 1.png" ></a>

         <!--  <a class = "footer-text" href = "static/navBar/Footer/sponsor-info.pdf">Interested in Sponsoring? </a>
            <a class="footer-text" href="mailto: gwcuva@gmail.com">Need to contact us?</a> -->
        </div>
        <div class = "row my-social-media" style="float: left;">
          <div class = "row">
            <div class = "col-2 social-icon">
              <a class="navbar-brand instagram" href="https://www.instagram.com/gwcuva/?hl=en"><img class = "nav-logo" src = "static/navBar/Footer/Instagram.png"></a>
            </div>
            <div class = "col-2 social-icon">
              <a class="navbar-brand discord" href="https://discord.com/invite/UbkJcNc"><img class = "nav-logo" src = "static/navBar/Footer/Discord.png"></a>
            </div>
            <div class = "col-2 social-icon">
              <a class="navbar-brand facebook" href="https://www.facebook.com/gwcuva/"><img class = "nav-logo" src = "static/navBar/Footer/Facebook.png"></a>
            </div>
            <div class = "col-1 social-icon">
              <a class="navbar-brand twitter" href="https://twitter.com/gwcuva?lang=en"><img class = "nav-logo" src = "static/navBar/Footer/Twitter.png"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    </head>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
      $(window).scroll(function(){$('nav').toggleClass('scrolled',$(this).scrollTop() > 1000);});
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <!-- https://www.w3schools.com/howto/howto_css_smooth_scroll.asp#section2 -->
    <script>
    $(document).ready(function(){
      // Add smooth scrolling to all links
      $("a").on('click', function(event) {

        // Make sure this.hash has a value before overriding default behavior
        if (this.hash !== "") {
          // Prevent default anchor click behavior
          event.preventDefault();

          // Store hash
          var hash = this.hash;

          // Using jQuery's animate() method to add smooth page scroll
          // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
          $('html, body').animate({
            scrollTop: $(hash).offset().top
          }, 800, function(){

            // Add hash (#) to URL when done scrolling (default click behavior)
            window.location.hash = hash;
          });
        } // End if
      });
    });
    </script>


  </body>
</html>

