<!DOCTYPE html>
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">


    <!-- link to og css file -->
    <link rel = "stylesheet" type = "text/css" href = "{% static 'navBar/hackathon_style.css'%}">
    <!-- Roboto font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto Mono' rel='stylesheet'>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Girls Hoo Hack</title>
  </head>
  <body>
    <header>
      <!-- nav bar -->

      <nav class="navbar sticky-top navbar-light my-nav">
        <a class="navbar-brand" href="#"><img class = "nav-logo" src = "static/navBar/nav-logo.png"></a>
        <a style = "z-index: 999;" href="https://girlshoohack2020.hackerearth.com/"><img class = "sign-flag" src = "static/navBar/sign-flag.png"></a>
        <a href="https://girls-hoo-hack.webnode.com/_files/200000020-f1eaaf1ead/mlh-code-of-conduct.pdf"><img class = "mlh-flag" src = "static/navBar/mlh-flag.png"></a>
      </nav>


      <div class = "container-fluid my-main" style = "background-image: url('static/navBar/orangeWave.png'); background-repeat: no-repeat; background-size: cover;">
        <!-- row 1 -->
        <div class = "sticky-top row empty-row">
        </div>

        <!-- row 2 -->
        <div class = "row">
          <div class = "col">
            <div class = "title girls">
              GIRLS
            </div>
          </div>
          <div class = "col">
          </div>
          <div class = "col">
            <div class = "col">
            <div class = "uva">
              The University<br><p style = "padding-right: 8%;">of Virginia</p>
            </div>
            <div class = "date" style = "margin-top: -4%;">
              October<br><p style = "padding-right: 12%;">17-18</p>
            </div>
          </div>
          </div>
        </div>

        <!-- row 3 -->
        <div class = "row">
          <div class = "col" style = "margin-top: -4%;">
            <div class = "title hoo">
              HOO
            </div>
          </div>
          <div class = "col" style = "margin-top: -4%;">
            <div class = "v-hack">
              2020 VIRTUAL<br> HACKATHON
            </div>
          </div>
          <div class = "col">
          </div>
        </div>

        <!-- row 4 -->
        <div class = "row">
          <div class = "col">
            <div class = "title hack">
              HACK
            </div>
          </div>
          <div class = "col">
            <button type="button" class="btn orange-btn" style = "background-image: url(static/navBar/signup_circle.png); background-repeat: no-repeat;" onclick="window.location.href = 'https://girlshoohack2020.hackerearth.com/';"><b class = "signup">SIGN<br> UP</b></button>
          </div>
        </div>

        <!-- row 5 -->
        <div class = "row empty-row">
        </div>
        <!-- row 6 -->
        <div class = "row empty-row">
        </div>


      </div>
      <nav class="navbar sticky-top navbar-light second-nav" style = "justify-content: space-around; ">
          <ul class="nav justify-content-center">
            <li class="nav-item">
            <a class="nav-link my-item" href="#my-about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link my-item" href="#my-jumpstart">JumpStart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link my-item" href="#my-schedule">Schedule</a>
          </li>
          <li class="nav-item">
            <a class="nav-link my-item" href="#my-prizes">Prizes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link my-item" href="#my-FAQ">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link my-item" href="#my-sponsors">Sponsors</a>
          </li>
        </ul>

      </nav>

      <div class = "container-fluid my-about" id = "my-about">
        <div class = "row">
          <div class = "col left-col">
            <div class = "title-header" style = "">
              About
            </div>
            <div class = "title-subheader">
              Girls Hoo Hack
            </div>
            <div class = "title-body">
              Girls Hoo Hack is a virtual 48-hour hackathon hosted by Girls Who Code at UVA that aims to foster a community of diverse thought and skill.<br><br> Coders of all levels of experience have the opportunity to work together with teams and mentors, attend educational workshops, and code action-oriented projects that reflect innovation, diverse perspectives, and empowerment.
            </div>
          </div>
          <div class = "col middle-col">
            <div class = "title-subheader">
              GWC @ UVA
            </div>
            <div class = "title-body">
              Girls Who Code at the University of Virginia (UVA) is a College Loop of the nationwide Girls Who Code nonprofit organization. GWC at UVA aims to close the gender gap in technology by creating opportunities for young women to explore technology.
            </div>
          </div>
          <div class = "col">
          </div>
        </div>
      </div>

      <div class = "container-fluid my-jumpstart" id = "my-jumpstart">
        <div class = "row">
          <div class = "col left-col">
            <div class = "title-header">
              Jumpstart
            </div>
            <div class = "title-subheader">
              What is it?
            </div>
            <div class = "title-body">
              The Girls Who Code at UVA's JumpStart program is a series of introductory workshops exclusive to Girls Who Code at UVA members. The goal of this program is to help guide first-time hackathon participants with developing their first projects. Workshops will be led by Girls Who Code at UVA's executive team and members and will be geared towards learning hackathon fundamentals and how to get started on a project! <br><br><a href = "https://forms.gle/nCpYhA66xh2gGfBS6">Sign up to join GWC @ UVA Jumpstart.</a>
              <!-- TODO - ADD LINK -->
            </div>
          </div>
          <div class = "col-4 middle-col">
            
          </div>
        </div>
        <div class = "row">
          <!-- TODO - ADD WORKSHOPS -->
          <div class = "col workshop-col">
            <div class = "title-subheader">
              Workshops
            </div>
            <div class = "title-black-bold" style = "margin-top: 3%;">
              Workshop 1
            </div>
            <div class = "title-black-bold-sub">
              Monday, Oct 12
            </div>

            <div class = "title-small-coming-soon" style = "margin-top: 3%;">
              Coming soon ...
            </div>

          </div>
          <div class = "col">
            <div class = "title-black-bold" style = "margin-top: 29%;">
              Workshop 2
            </div>
            <div class = "title-black-bold-sub">
              Monday, Oct 12
            </div>

            <div class = "title-small-coming-soon" style = "margin-top: 3%;">
              Coming soon ...
            </div>
          </div>
          <div class = "col">
            <div class = "title-black-bold" style = "margin-top: 29%;">
              Workshop 3
            </div>
            <div class = "title-black-bold-sub">
              Tuesday, Oct 13
            </div>

            <div class = "title-small-coming-soon" style = "margin-top: 3%;">
              Coming soon ... 
            </div>
          </div>
        </div>
        <div class = "row">
          <div class = "col left-col">
            <div class = "title-black-bold" style = "margin-top: 3%;">
              Workshop 4
            </div>
            <div class = "title-black-bold-sub">
              Wednesday, Oct 14
            </div>

            <div class = "title-small-coming-soon" style = "margin-top: 3%;">
              Coming soon ...
            </div>
          </div>
          <div class = "col workshop-col-2">
            <div class = "title-black-bold" style = "margin-top: 3%;">
              Workshop 5
            </div>
            <div class = "title-black-bold-sub">
              Thursday, Oct 15
            </div>
            <div class = "title-small-coming-soon" style = "margin-top: 3%;">
              Coming soon ...
            </div>
          </div>
          <div class = "col">
          </div>
        </div>
      </div>


      <div class = "container-fluid my-schedule" id = "my-schedule">
        <div class = "row">
          <!-- TODO - UPDATE -->
          <div class = "col-8 left-col">
            <div class = "title-header">
              Schedule
            </div>
            <div class = "title-subheader">
              <!-- Saturday, Oct 17 & Sunday, Oct 18 -->
            </div>
            <div class = "title-coming-soon">
              COMING SOON ...
              
            </div>
            <div class = "title-schedule-time">
              
            </div>
            <div class = "title-schedule-time">
              
            </div>
          </div>
          <div class = "col middle-col" style = "margin-top: 4.5%">
            <div class = "title-black-bold">
              
            </div>
          </div>
          <div class = "col">
          </div>
        </div>
      </div>

      <div class = "container-fluid my-prizes" id = "my-prizes">
        <div class = "row">
          <div class = "col-8 left-col">
            <div class = "title-header">
              Prizes
            </div>
            <div class = "title-coming-soon" style = "margin-top: 6%;">
              COMING SOON ...
            </div>
            <div class = "title-body" style = "margin-top: 3%;">
              
            </div>
          </div>
          <div class = "col">
          </div>
          <div class = "col">
          </div>
        </div>
      </div>

      <div class = "container-fluid my-FAQ" id = "my-FAQ">
        <div class = "row">
         <div class = "col left-col">
            <div class = "title-header">
              FAQ
            </div>
            <div class = "title-black-bold">
              What is a hackathon?
            </div>
            <div class = "title-body">
              A hackathon is best described as an “invention marathon”. Anyone who has an interest in technology attends a hackathon to learn, build & share their creations over the course of a weekend in a relaxed and welcoming atmosphere. You don’t have to be a programmer and you certainly don’t have to be majoring in Computer Science.
            </div>
            <div class = "title-black-bold">
              Who can participate?
            </div>
            <div class = "title-body">
              Girls Hoo Hack is open to all college-aged students or anyone who has graduated within the last 12 months. We welcome all women, non-binary individuals, and women supporters.
            </div>
            <div class = "title-black-bold">
              What if I don't know how to code?
            </div>
            <div class = "title-body">
              Not a problem! The entire Major League Hacking team knew very little when they attended their very first hackathon. It’s irrelevant what your prior experience is; it’s more about your interest in technology. Every MLH Member Event is passionate about making hackathons welcoming and beginner-friendly. If you want to learn how to code outside of a hackathon, you should check out the following: Treehouse, Codecademy and the Major League Hacking blog.
            </div>
            <div class = "title-black-bold">
              Are there any fees to participate?
            </div>
            <div class = "title-body">
              Girls Hoo Hack is free for all participants! Throughout the event, there will also be fun opportunities to get smaller prizes, swag, and more!
            </div>
            <div class = "title-black-bold">
              How many people can be on a team?
            </div>
            <div class = "title-body">
              A team can have 1-4 members.
            </div>
         </div>
         <div class = "col-4">
         </div>
        </div>
      </div>

      <div class = "container-fluid my-sponsors" id = "my-sponsors">
        <div class = "row">
          <div class = "col left-col">
            <div class = "title-header">
              Sponsors
            </div>
          </div>
        </div>
      </div>
      <div class = "container-fluid my-footer">
          
          <div class = "row">
            <a class="navbar-brand" href="#"><img class = "footer-logo" src = "static/navBar/footer-logo.png"></a>
          </div>
          <div class = "row my-social-media">
            <div class = "col-8">
              <a class="navbar-brand" href="https://www.instagram.com/gwcuva/?hl=en"><img class = "nav-logo" src = "static/navBar/Instagram.png"></a>
              <a class="navbar-brand discord" href="https://discord.com/invite/UbkJcNc"><img class = "nav-logo" src = "static/navBar/Discord.png"></a>
              <a class="navbar-brand facebook" href="https://www.facebook.com/gwcuva/"><img class = "nav-logo" src = "Face.png"></a>
              <a class="navbar-brand twitter" href="https://twitter.com/gwcuva?lang=en"><img class = "nav-logo" src = "static/navBar/Twitter.png"></a>
            </div>
            <div class = "col foot footer-text">
              <a class = "footer-text" href = "sponsor-info.pdf">Interested in Sponsoring? </a> &nbsp || &nbsp <a class="footer-text" href="mailto: gwcuva@gmail.com">Contact Us</a>
            </div>
          </div>
      </div>
      </div>

      


    </header>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
      $(window).scroll(function(){$('nav').toggleClass('scrolled',$(this).scrollTop() > 1000);});
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <!-- https://www.w3schools.com/howto/howto_css_smooth_scroll.asp#section2 -->
    <script>
    $(document).ready(function(){
      // Add smooth scrolling to all links
      $("a").on('click', function(event) {

        // Make sure this.hash has a value before overriding default behavior
        if (this.hash !== "") {
          // Prevent default anchor click behavior
          event.preventDefault();

          // Store hash
          var hash = this.hash;

          // Using jQuery's animate() method to add smooth page scroll
          // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
          $('html, body').animate({
            scrollTop: $(hash).offset().top
          }, 800, function(){

            // Add hash (#) to URL when done scrolling (default click behavior)
            window.location.hash = hash;
          });
        } // End if
      });
    });
    </script>
  </body>
</html>

