<!DOCTYPE html>
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- link to og css file -->
    <link rel = "stylesheet" type = "text/css" href = "{% static 'navBar/hackathon_style.css'%}">
    <!-- Roboto font -->
     <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
     <link href='https://fonts.googleapis.com/css?family=Roboto Mono' rel='stylesheet'>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>GWC</title>
  </head>
  <body>
    <header>

      <!-- TODO - ADD FLAGS -->
      <!-- nav bar -->
      <nav class="navbar sticky-top navbar-light my-nav">
        <a class="navbar-brand" href="#"><img class = "nav-logo" src = "static/navBar/nav-logo.png"></a>
        <a class="navbar-brand" href="https://forms.gle/i1Qn7pLSmVMPFKVq6"><img class = "sign-flag"  style = "z-index:9999;" src = "static/navBar/sign-flag.png"></a>
        <a class="navbar-brand" href="#"><img class = "mlh-flag" src = "static/navBar/mlh-flag.png"></a>
      </nav>



      <div class = "container-fluid my-main" style = "background-image: url('static/navBar/orangeWave.png'); background-repeat: no-repeat; background-size: cover;">
        <!-- row 1 -->
        <div class = "sticky-top row empty-row">
        </div>

        <!-- row 2 -->
        <div class = "row">
          <div class = "col">
            <div class = "title girls">
              GIRLS
            </div>
          </div>
          <div class = "col">
          </div>
        </div>

        <!-- row 3 -->
        <div class = "row">
          <div class = "col">
            <div class = "title hoo">
              HOO
            </div>
          </div>
          <div class = "col">
            <div class = "v-hack">
              2020 VIRTUAL<br> HACKATHON
            </div>
          </div>
          <div class = "col">
            <div class = "uva">
              The University<br><p style = "padding-right: 9%;">of Virginia</p>
            </div>
            <div class = "date" style = "margin-top: -4%;">
              October<br><p style = "padding-right: 12%;">17-18</p>
            </div>
          </div>
        </div>

        <!-- row 4 -->
        <div class = "row">
          <div class = "col">
            <div class = "title hack">
              HACK
            </div>
          </div>
          <div class = "col">
            <button type="button" class="btn orange-btn" onclick="window.location.href = 'https://forms.gle/i1Qn7pLSmVMPFKVq6';"><b class = "signup">Sign Up</b></button>
          </div>
        </div>

        <!-- row 5 -->
        <div class = "row empty-row">
        </div>
        <!-- row 1 -->
        <div class = "row empty-row">
        </div>


      </div>
      <nav class="navbar sticky-top navbar-light my-nav" style = "justify-content: space-around;">
        
          <ul class="nav justify-content-center">
            <li class="nav-item">
            <a class="nav-link my-item" href="#my-about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link my-item" href="#my-jumpstart">JumpStart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link my-item" href="#my-schedule">Schedule</a>
          </li>
          <li class="nav-item">
            <a class="nav-link my-item" href="#my-prizes">Prizes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link my-item" href="#my-FAQ">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link my-item" href="#my-sponsors">Sponsors</a>
          </li>
        </ul>

      </nav>

      <div class = "container-fluid my-about" id = "my-about">
        <div class = "row">
          <div class = "col left-col">
            <div class = "title-header" style = "">
              About
            </div>
            <div class = "title-subheader" style = "margin-top: 5%;">
              Girls Hoo Hack
            </div>
            <div class = "title-body" style = "margin-top: 2%;">
              Girls Hoo Hack is a virtual 48-hour hackathon hosted by Girls Who Code at UVA that aims to foster a community of diverse thought and skill.<br><br> Coders of all levels of experience have the opportunity to work together with teams and mentors, attend educational workshops, and code action-oriented projects that reflect innovation, diverse perspectives, and empowerment.
            </div>
          </div>
          <div class = "col middle-col">
            <div class = "title-subheader" style = "margin-top: 5%;">
              GWC @ UVA
            </div>
            <div class = "title-body" style = "margin-top: 2%;">
              Girls Who Code at the University of Virginia (UVA) is a College Loop of the nationwide Girls Who Code nonprofit organization. GWC at UVA aims to close the gender gap in technology by creating opportunities for young women to explore technology.
            </div>
          </div>
          <div class = "col">
          </div>
        </div>
      </div>

      <div class = "container-fluid my-jumpstart" id = "my-jumpstart">
        <div class = "row">
          <div class = "col left-col">
            <div class = "title-header">
              Jumpstart
            </div>
            <div class = "title-subheader" style = "margin-top: 5%;">
              What is it?
            </div>
            <div class = "title-body" style = "margin-top: 2%;">
              JumpStart is a beginner’s guide to hackathons for GWC @ UVA members. We’re offering a 1-4 hour workshop each day from October 12 through October 16. There will be recorded and live options for each workshop. <br><br><a href = "url">Sign up to become a member of GWC @ UVA to participate.</a>
              <!-- TODO - ADD LINK -->
            </div>
          </div>
          <div class = "col-4 middle-col">
            
          </div>
        </div>
        <div class = "row">
          <!-- TODO - ADD WORKSHOPS -->
          <div class = "col workshop-col">
            <div class = "title-subheader">
              Workshops
            </div>
            <div class = "title-black-bold" style = "margin-top: 3%;">
              Workshop Name 1
            </div>
            <div class = "title-black-bold-sub">
              Monday, Oct 12
            </div>

            <div class = "title-body" style = "margin-top: 3%;">
              Monday, Oct 12
            </div>

          </div>
          <div class = "col">
            <div class = "title-black-bold" style = "margin-top: 29%;">
              Workshop Name 2
            </div>
            <div class = "title-black-bold-sub">
              Monday, Oct 12
            </div>

            <div class = "title-body" style = "margin-top: 3%;">
              Monday, Oct 12
            </div>
          </div>
          <div class = "col">
            <div class = "title-black-bold" style = "margin-top: 29%;">
              Workshop Name 3
            </div>
            <div class = "title-black-bold-sub">
              Monday, Oct 12
            </div>

            <div class = "title-body" style = "margin-top: 3%;">
              Monday, Oct 12
            </div>
          </div>
        </div>
        <div class = "row">
          <div class = "col left-col">
            <div class = "title-black-bold" style = "margin-top: 3%;">
              Workshop Name 1
            </div>
            <div class = "title-black-bold-sub">
              Monday, Oct 12
            </div>

            <div class = "title-body" style = "margin-top: 3%;">
              Monday, Oct 12
            </div>
          </div>
          <div class = "col workshop-col-2">
            <div class = "title-black-bold" style = "margin-top: 3%;">
              Workshop Name 1
            </div>
            <div class = "title-black-bold-sub">
              Monday, Oct 12
            </div>
            <div class = "title-body" style = "margin-top: 3%;">
              Monday, Oct 12
            </div>
          </div>
          <div class = "col">
          </div>
        </div>
      </div>


      <div class = "container-fluid my-schedule" id = "my-schedule">
        <div class = "row">
          <!-- TODO - UPDATE -->
          <div class = "col left-col">
            <div class = "title-header">
              Schedule
            </div>
            <div class = "title-subheader" style = "margin-top: 5%;">
              Saturday, Oct 17
            </div>
            <div class = "title-schedule-time" style = "margin-top: 2%;">
              9am-10am
            </div>
            <div class = "title-schedule-time" style = "margin-top: 100%;">
              9am-10am
            </div>
            <div class = "title-schedule-time" style = "margin-top: 100%;">
              9am-10am
            </div>
          </div>
          <div class = "col middle-col" style = "margin-top: 4.5%">
            <div class = "title-black-bold">
              Check-in
            </div>
          </div>
          <div class = "col">
          </div>
        </div>
      </div>

      <div class = "container-fluid my-prizes" id = "my-prizes">
        <div class = "row">
          <div class = "col left-col">
            <div class = "title-header">
              Prizes
            </div>
            <div class = "title-subheader" style = "margin-top: 6%;">
              Best Beginner 
            </div>
            <div class = "title-body" style = "margin-top: 3%;">
              HELLOOOOO
            </div>
          </div>
          <div class = "col">
          </div>
          <div class = "col">
          </div>
        </div>
      </div>

      <div class = "container-fluid my-FAQ" id = "my-FAQ">
        <div class = "row">
         <div class = "col left-col">
            <div class = "title-header">
              FAQ
            </div>
            <div class = "title-black-bold" style = "margin-top: 5%;">
              What is a hackathon?
            </div>
            <div class = "title-body"  style = "margin-top: 2%;">
              A hackathon is best described as an “invention marathon”. Anyone who has an interest in technology attends a hackathon to learn, build & share their creations over the course of a weekend in a relaxed and welcoming atmosphere. You don’t have to be a programmer and you certainly don’t have to be majoring in Computer Science.
            </div>
            <div class = "title-black-bold" style = "margin-top: 5%;">
              Who can participate?
            </div>
         </div>
         <div class = "col-4">
         </div>
        </div>
      </div>

      <div class = "container-fluid my-sponsors" id = "my-sponsors">
        <div class = "row">
          <div class = "col left-col">
            <div class = "title-header">
              Sponsors
            </div>
          </div>
        </div>
      </div>
      <div class = "container-fluid my-footer">
          <div class = "row my-social-media">
            <a class="navbar-brand" href="#"><img class = "nav-logo" src = "static/navBar/instagram.png"></a>
            <a class="navbar-brand" href="#"><img class = "nav-logo" src = "static/navBar/discord.png"></a>
            <a class="navbar-brand" href="#"><img class = "nav-logo" src = "static/navBar/facebook.png"></a>
            <a class="navbar-brand" href="#"><img class = "nav-logo" src = "static/navBar/email.png"></a>
          </div>
      </div>
      </div>

      


    </header>










    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
      $(window).scroll(function(){
        $('mlh-flag').toggleClass('scrolled',$(this).scrollTop() > 600);
      });
    </script>
  </body>
</html>