<!DOCTYPE html>
{% load static %}
<html>
<head>
	<!-- link to bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- link to og css file -->
    <link rel = "stylesheet" type = "text/css" href = "{% static 'navBar/meetTheTeam_style.css'%}">

    <!-- link to bootstrap cdn css & js -->
    <link rel="stylesheet" href = "//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src = "//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/boostrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
	<div id = "wrapper">

		<!-- Sidebar -->
		<div id = "sidebar-wrapper">

			<ul class = "sidebar-nav">
				<li><a class = "side-text" href='/home'><span class="glyphicon glyphicon-home side-icon"></span> Home</a>
	      		</li>
				<li><a class = "side-text" href='/hackathon'><span class="glyphicon glyphicon-globe side-icon"></span> Hackathon</a>
	      		</li>
	      		<li><a class = "side-text" href='/calendar'><span class="glyphicon glyphicon-calendar side-icon"></span> Calendar</a>
	      		</li>
	      		<li><a class = "side-text" href='/meetTheTeam'><span class="glyphicon glyphicon-user side-icon"></span> Meet the Team</a>
	      		</li>
	      		<li><a class = "side-text" href='/join'><span class="glyphicon glyphicon-info-sign side-icon"></span> Join now</a>
	      		</li>
			</ul>
		</div>

		<!-- Rest of the page -->
		<div id = "page-wrapper">
			<div class = "container-fluid">

				<!-- first row -->
				<div class = "row">
					<div class = "col">
						<a href = "" class = "btn toggle-btn" id = "menu-toggle"><span class="glyphicon glyphicon-th-list my-toggle" aria-hidden="true"></span></a>
					</div>
					<div class = "col">
						
					</div>
					<div class = "col">
					</div>
				</div>


				<!-- second row -->
				<div class = "row">
					<div class = "element">
						<img class = "main-img" src = "/static/navBar/group.jpg" style = "width: 100%; height: auto;">
						<div class = "text-block">
							<h4 style = "font-size: 4vw;"><b>Members of GWC at UVA</b></h4>
							<p style = "font-size: 2vw;"><b>Smore's Night Event</b></p>
						</div>
					</div>
				</div>

				<hr>

				<!-- Nelly -->
				<div class = "row" style = "margin-top: 40px;">
					<div class = "col-4">
						<div class = "element-2">
							<img src = "/static/navBar/nelly.jpg" style = "width:100%; height: auto;">
						</div>
					</div>
					<div class = "col-8">
						<div class = "row">
							<div class = "bio-name">
								<div class = "element-2">
									<b>Danielle Zevitz</b>
								</div>
							</div>
						</div>
						<div class = "row">
							<div class = "text bio-text">
								Hi! My name is Danielle Zevitz, but most people call me Nelly! I am a rising 3rd year studying CS through the college of arts and sciences. I like musical instruments and backpacking through foreign lands. I have been coding for a year and a half, and I want to go into cybersecurity.
							</div>
						</div>
					</div>
				</div>

				<!-- Liv -->
				<div class = "row"  style = "margin-top: 40px;">
					<div class = "col-8">
						<div class = "row">
							<div class = "text bio-name" style = "text-align: right;">
								<!-- <div class = "element-2"> -->
									<b>Liv LiVolsi</b>
								<!-- </div> -->
							</div>
						</div>
						<div class = "row">
							<div class = "text bio-text" style = "text-align: right;">
								Liv LiVolsiLiv LiVolsiLiv LiVolsiLiv LiVolsiLiv LiVolsiLiv LiVolsiLiv LiVolsiLiv LiVolsiLiv LiVolsiLiv LiVolsiLiv LiVolsiLiv LiVolsiLiv LiVolsiLiv LiVolsiLiv LiVolsiLiv LiVolsiLiv LiVolsiLiv LiVolsiLiv LiVolsiLiv LiVolsiLiv LiVolsiLiv LiVolsiLiv LiVolsiLiv LiVolsi
							</div>
						</div>
					</div>
					<div class = "col-4">
						<div class = "element-2">
							<img src = "/static/navBar/liv.jpg" style = "width:100%; height: auto;">
						</div>
					</div>
				</div>
				<!-- third row -->
				<div class = "row">
					<h1 style = "font-size: 100px;"> Hello</h1>
				</div>
				<!-- third row -->
				<div class = "row">
					<h1 style = "font-size: 100px;"> Hello</h1>
				</div>
				<!-- third row -->
				<div class = "row">
					<h1 style = "font-size: 100px;"> Hello</h1>
				</div>
				<!-- third row -->
				<div class = "row">
					<h1 style = "font-size: 100px;"> Hello</h1>
				</div>
				<!-- third row -->
				<div class = "row">
					<h1 style = "font-size: 100px;"> Hello</h1>
				</div>
				<!-- third row -->
				<div class = "row">
					<h1 style = "font-size: 100px;"> Hello</h1>
				</div>
				<!-- third row -->
				<div class = "row">
					<h1 style = "font-size: 100px;"> Hello</h1>
				</div>



				</div>
			</div>
		</div>


	</div>


	<!-- Sidebar Toggle script -->
	<script>
		$("#menu-toggle").click(function(e){
			e.preventDefault();
			$("#wrapper").toggleClass("menuDisplayed");
		});
	</script>
</body>
</html>