<!DOCTYPE html>
{% load static %}
<html>
<head>
  <!-- link to bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- link to css file -->
    <link rel = "stylesheet" type = "text/css" href = "{% static 'main/main_style.css'%}">

    <!-- link to bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- link to boostrap JavaScipt -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

   <!-- free glyphicon sheet -->
   <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#"><img class = "nav-logo" src = "static/main/bw-horiz-text.png"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/hackathon">Hackathon</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/calendar">Calendar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/meetTheTeam">Meet the Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/join">Join now</a>
          </li>
      </ul>
    </div>
</nav>
  <div class = "container">
    <img class = "bckgd" src="static/main/background-small.png" sizes = "(max-width: 200px) 650px 2000px" srcset="static/main/background-small.png 650w, static/main/background.png 2000w" alt="yah">
    <!-- <img class = "bckgd" src = "static/main/background.png"> -->
  </div>

  <div style= "text-align: center;" class = "innter-addon left-addon"> 
    <i class = "fa fa-facebook"></i>
    <input type="submit" style = "color: LightBlue;" value="" class = "btn btn-light btn-circle btn-xl"/>
  </div>

</body>
</html>