html{
 height: auto;
 width: auto;
 padding: 0;
 margin: 0;
}

body{
 width: auto;
 height: auto;
 min-width: 1400px;
 padding: 0;
 margin: 0;
}

.my-main{
  background: #43D6B9;
  height: 120%;
  min-height: 800px;
}

.my-about{
  background:#F7F7F7;
  min-height: 750px;
}

.my-jumpstart{
  background:#FFFFFF;
  min-height: 1170px;
}

.my-schedule{
  background:#F7F7F7;
  min-height: 464px;
}

.my-prizes{
  background:#FFFFFF;
  min-height: 464px;
}

.my-FAQ{
  background:#F7F7F7;
  min-height: 1184px;
}

.my-sponsors{
  background:#FFFFFF;
  height: 500px;
}


.my-nav{
  max-height: 80px;
  min-height: 80px;
  background: #43D6B9;
}

.second-nav{
  max-height: 80px;
  min-height: 80px;
  background: #43D6B9;
}

.second-nav.scrolled{
  background: rgb(67,214,185) !important;
background: linear-gradient(79deg, rgba(67,214,185,1) 70%, rgba(255,255,255,0) 71%) !important;
}

.nav-logo{
  position: relative;
  margin-left: 90%;
  margin-top: -55%;
}

@media not all and (min-resolution:.001dpcm) { @media {
  /* code from https://stackoverflow.com/questions/16348489/is-there-a-css-hack-for-safari-only-not-chrome */
  .nav-logo { 
      margin-top: 0;
      bottom: 0;
  }
  .mlh-flag{
    margin-top: 0;
    bottom: 0;
  }
}}

@media screen and (max-width: 430px) {
  .nav-logo{
    margin-top: 18% !important;
  }
  .sign-flag{
    margin-top: 20% !important;
  }
  .mlh-flag{
    margin-top: 20% !important;
  }
}

.sign-flag{
  z-index: 999;
  width: 24%;
  margin-top: -12px;
  margin-left: 210%;
}

.mlh-flag{
  z-index: 999;
  width: 24%;
  margin-top: -12px;
  margin-left: 50%;
}


.row{
  height: 20%;
  min-height: 100px;
}

.empty-row{
  height: 8%;
}

.girls{
  margin-bottom: -5%;
  padding-left: 38%;
}

.hoo{
  float: right;
}

.hack{
  margin-top: -6%;
  padding-left: 38%;
}

.v-hack{
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 60px;
line-height: 70px;
color: #0D38D3;
padding-top: 5%;
}

.uva{
font-family: Roboto Mono;
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 32px;
color: #0D38D3;
text-align: center;
}

.date{
font-family: Roboto Mono;
font-style: normal;
font-weight: bold;
font-size: 45px;
line-height: 66px;
color: #0D38D3;
text-align: center;
}

.orange-btn{
  background: transparent;
  width: 334px;
  height: 342px;
  float:right;
  margin-right: 15%;
  margin-top: -8%;
}

.orange-btn:hover{
  background: #fad3a4;
  border-radius: 50%;
}

.signup{
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: bold;
  margin-top: -5%;
  font-size: 65px;
  line-height: 66px;
  color: #FFFFFF;
}

.my-item{
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 23px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
}

.my-social-media{
  background: #003046;
  float: left;
  padding-left: 6%;
  padding-top: 2%;
}

.my-footer{
  background: #003046;
  min-height: 800px;
  overflow: hidden;
}

.footer-logo{
  height: 100%;
  padding-left: 5%;
  padding-top: 5%;
}

.foot{
  text-align: right;
  float: right;
  padding-right: 5%;
}

.my-disclaimer{
  float: left;
  padding-top: 5%;
  padding-left: -30%;
  margin-left: -68px;
  margin-top: -5px;
}

.footer-text{
  font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 23px;
display: flex;
align-items: center;
color: #FFFFFF;
}

.title{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 158px;
  line-height: 185px;
  color: white;
}

.title-subheader, .title-black-bold {
  margin-top: 5%;
}

.title-body, .title-coming-soon {
  margin-top: 2%;
}

.title-header{
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 56px;
line-height: 66px;
color: #FA7815;
}

.title-coming-soon{
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 56px;
line-height: 66px;
color: #43D6B9;
}

.title-subheader{
  font-family: Roboto Mono;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 42px;
display: flex;
color: #F9B88C;
}

.title-body{
font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 30px;
letter-spacing: 0.05em;
color: #000000;
}

.title-small-coming-soon{
font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 30px;
letter-spacing: 0.05em;
color: #43D6B9;
}

.title-black-bold{
font-family: Roboto Mono;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 35px;
color: #000000;
}

.title-black-bold-sub{
font-family: Roboto Mono;
font-style: normal;
font-weight: bold;
font-size: 17px;
line-height: 34px;
color: #000000;
}

.title-schedule-time{
font-family: Roboto Mono;
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 30px;
color: #000000;
}

.left-col{
  padding-top: 11%;
  margin-left: 5%;
}

.middle-col{
  padding-top: 16%;
  margin-left: 5%;
}

.workshop-col{
  padding-top: 5%;
  margin-left: 5%;
}

.workshop-col-2{
  padding-top: 11%;
  margin-left: 0%;
}


@media only screen and (max-width: 1300px) {
  /* For mobile phones: */
  [class*="col-"], [class*="-col"] {
    width: 100%!important;
  }
}
